/*------------------Contacto----------------------*//*---------Aca se usa FLEX---------*/

.bannerC {
    margin-top: -188px;
    background-color: $colorcafe;
    position: relative; /*para que se muestre despues del menu de navegacion*/
    z-index: -1000; /* uso de --Z-- que se vea la direccion y el phone que quedan debajo sino*/
    border-top: 2px outset #ddd;
    &:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    }
   &__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    }
    &__content {
        width: 90%;
        color: $colorblanquito;
        text-align: center;
        position: absolute; /*permito que el texto dentro, se quede alli*/
        z-index: 1500;    /*uso de -- Z-- para que el texto no se vaya detras del fondo que creamos, el menu tiene 2000 asi que lo tapara*/
        top: 60%;
        left: 50%;
        transform: translateX(-50%) translateY(100%); /*----uso de Translate para centrar el texto---*/
        font-size: 1.1em;
        font-weight: bold;
    }
}

#onlyContact {
    color:#F6F7DD;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo-contact {
    font-family: $principal;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

.affair {
    font-weight: lighter;
    font-family: $principal;
    text-align: center;
    font-size: 2em;
    color:#20201D;
    margin-bottom: .6em;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .8);
}

.contact-wrapper>*{ /*a todos los elementos dentro del wrapper*/
    padding: 1em;
}

.animate__animated .animate__rubberBand {
    --animate-duration: 4s;
}

.contact-form {
    background: $colorcafe;
    form { /*este es el padre que llevara el GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr;

        .block { /*solo los que puse en bloque van a abarcar todo el ancho*/
        grid-column: 1 / 3 ;
         }
        p {
        margin: 0;
        padding: 1em;
        }
   }
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #B5926D;
    outline: none;
    color:#F6F7DD;
}

.contact-form form button {
    background: #B5926D;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: #ddd;
    font-weight: bolder;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: none;
    color: #000;
    border: 1px solid #ddd;
    transition: background-color 1s ease-out; /*para que al cambiar al fondo sea despacio*/
    outline: 0;
}

.contact-info {
    background: $cafeoscuro;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: .3em;
        }
    }
}

.contact-info h5,
.contact-info ul,
.map {
    text-align: center;
    margin: 0 0 1rem 0;
}


@media screen and (min-width: 768px){

.contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contact-wrapper>*{ /*a todos los elementos dentro del wrapper*/
    padding: 2em;
}

.contact-info h5,
.contact-info ul {
    text-align: left;
}

}
@media screen and (min-width: 1220px) {

    .logo-contact {
        font-size: 4em;
    }
    .bannerC {
        margin-top: -190px;
        &__img {
            @include size(160vh, 100%);
        }
    }

    form {
        margin-bottom: 120px;
        margin-top: 50px;
    }
}
@media screen and (min-width: 1600px) {
  
    body {  /*estos cambios son para que el footer quede abajo, a medida que aumenta la screen*/
        display:flex; 
        flex-direction:column;
        min-height:100vh;
    }

    .main-footer {/*teniendo el body flex, se le puede dar margin auto*/
        bottom: 0;
        margin-top:auto;
    }
}
